* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */ }

body {
  background-color: #fce1cb;
  font-family: 'segoe ui'; }

#logo {
  width: 35%; }

.container {
  margin-top: 120px; }
  .container h1 {
    color: #4e383d; }
  .container h2 {
    color: #4e383d; }
  .container h3 {
    color: #4e383d; }
  .container h4 {
    color: #4e383d; }
  .container label {
    color: #4e383d; }
